################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/API_Cadastro
/API_Cadastro/bin/Debug/netcoreapp2.2
/API_Cadastro/obj
